<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2></h2>
    <form action="/products/add" method="POST">
        <P><input type="name" placeholder="name" name="name"></P>
        <P><input type="number" placeholder="price" name="price"></P>
        <P><input type="name" placeholder="imageurl" name="imageUrl"></P>
        <P><input type="text" placeholder="description" name="desc"></P>
        <button >ADD</button>
    </form>
</body>
</html>